name: PR Agent
on:
  pull_request:
    types: [opened, reopened, ready_for_review]
  issue_comment:
jobs:
  pr_agent_job:
    if: ${{ github.event.sender.type != 'Bot' }}
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
      contents: write
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"
      - name: PR Agent action step
        uses: qodo-ai/pr-agent@main
        env:
          OPENAI_KEY: "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"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENAI.ORG: "PerSam"
          PR_REVIEWER.REQUIRE_TESTS_REVIEW: "false" 
          PR_CODE_SUGGESTIONS.NUM_CODE_SUGGESTIONS: 6
